@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b303b;
  color: #63717f;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  font-size: 26px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.active {
  background-color: greenyellow;
}

.completed {
  background-color: yellow;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.todo-header .todo-input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  padding: 15px 10px;
}

.todo-header .todo-submit {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 70%;
}
